@import "./fonts.css";
@import "tailwindcss";

@theme {
    --font-telegraf: "PPTelegraf", sans-serif;
    --font-telegraf-slanted: "PPTelegrafSlanted", sans-serif;
    --font-weight-ultralight: 200;
    --font-weight-regular: 400;
    --font-weight-ultrabold: 800;
}

body {
    @apply font-telegraf;
}
