/* src/styles/fonts.css */

/* Ultralight - 200 weight */
@font-face {
    font-family: "PPTelegraf";
    src: url("./assets/PPTelegraf-Ultralight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PPTelegraf";
    src: url("./assets/PPTelegraf-UltralightOblique.otf") format("opentype");
    font-weight: 200;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "PPTelegrafSlanted";
    src: url("./assets/PPTelegraf-UltralightSlanted.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

/* Regular - 400 weight */
@font-face {
    font-family: "PPTelegraf";
    src: url("./assets/PPTelegraf-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PPTelegraf";
    src: url("./assets/PPTelegraf-RegularOblique.otf") format("opentype");
    font-weight: 400;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "PPTelegrafSlanted";
    src: url("./assets/PPTelegraf-RegularSlanted.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* Ultrabold - 800 weight */
@font-face {
    font-family: "PPTelegraf";
    src: url("./assets/PPTelegraf-Ultrabold.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "PPTelegraf";
    src: url("./assets/PPTelegraf-UltraboldOblique.otf") format("opentype");
    font-weight: 800;
    font-style: oblique;
    font-display: swap;
}

@font-face {
    font-family: "PPTelegrafSlanted";
    src: url("./assets/PPTelegraf-UltraboldSlanted.otf") format("opentype");
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
